<% @photos.each do |photo| %>
  <div class="card photo-form mb-3">
    <div class="card-body">
      <div class="img-container">
        <%= link_to photo, class: 'photo-link' do %>
          <%= image_tag photo.image.url(:medium) %>
        <% end %>
      </div> 
      <br>
      <strong><%= photo.description %></strong>
      <br>
      <%= link_to profile_path(photo.user_id) do %>
        <i class="ion-person"></i>
        <%= photo.user.name %>  
      <% end %> 
    </div> 
  </div> 
<% end %>

<%= will_paginate @photos, class:"pagination justify-content-center" %>
