<h2><%= @user.name %></h2>

<% if current_user.id == @user.id %>
<% else %>
  <% if current_user.subscriptions.exists?(friend_id: @user.id) %>
    <%= link_to t('profiles.buttons.unsubscribe'), unsubscribe_profile_path(@user), class: 'btn btn-primary' %>
  <% else %>
    <%= link_to t('profiles.buttons.subscribe'), subscribe_profile_path(@user), class: 'btn btn-primary' %>
  <% end %>
<% end %>  
<br>
<br>
<% @photos.each do |photo| %>
  <div class="card photo-form mb-3">
    <div class="card-body photo-link">
      <div class="img-container">
        <%= link_to photo, class: 'photo-link' do %>
          <%= image_tag photo.image.url(:medium) %>
        <% end %>
      </div>
      <br>
      <strong><%= photo.description %></strong>
      <br>
      <% if photo.user == current_user %>
        <%= link_to edit_photo_path(photo) do %><i class="ion-edit"></i> <%= t('photos.links.edit') %><% end %> |
        <%= link_to photo, method: :delete, data: { confirm: t('photos.other.are_you_sure') } do %><i class="ion-trash-b"></i> <%= t('photos.links.delete') %><% end %>
      <% end %>  
    </div> 
  </div> 
<% end %>