<% @friends.each do |friend| %>
  <div class="card photo-form mb-3">
    <div class="card-body">
      <%= link_to friend.email, profile_path(friend.id) %> |
      <%= link_to t('profiles.links.unsubscribe'),unsubscribe_profile_path(friend.id) %>
    </div> 
  </div> 
  <br>
<% end %>