<h2><%= t('devise.titles.resend_conf_instr') %></h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit t('devise.buttons.resend_conf_instr'), class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
