<div class="card devise-form">
  <div class="card-header">
    <h2><%= t('devise.titles.edit_account') %></h2>
  </div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label t('devise.other.login') %><br />
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.other.email') %><br />
        <%= f.email_field :email, autofocus: false, autocomplete: "email", class:"form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label t('devise.other.new_password')%> <i>(<%= t('devise.other.leave_blank') %>)</i><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> <%= t('devise.other.characters_minimum') %></em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.other.confirm_new_password') %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.other.current_password')  %> <i>(<%= t('devise.other.curr_pass_for_confirm')%>)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t('devise.buttons.update'), class:"btn btn-primary" %>
      </div>
    <% end %>
    <br>
    <h3><%= t('devise.titles.delete_account') %></h3>

    <p><%= button_to t('devise.buttons.delete_account'), registration_path(resource_name), data: { confirm: t('devise.other.are_you_sure') }, method: :delete, class:"btn btn-primary" %></p>

    <%= link_to t('devise.links.back'), :back %>
  </div>
</div>  
