<div class="card devise-form">
  <div class="card-header">
    <h2><%= t('devise.titles.sign_up') %></h2>
  </div>

  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label t('devise.other.login') %><br>
        <%= f.text_field :name, autofocus: true, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.other.email') %><br>
        <%= f.email_field :email, autofocus: false, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.other.new_password') %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> <%= t('devise.other.characters_minimum') %>)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.other.confirm_new_password') %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control" %>
      </div>

      <div class="actions">
        <%= f.submit t('devise.buttons.registrate'), class:"btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>  
