<h2><%=t('devise.titles.change_password') %></h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, t('devise.other.new_password') %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> <%=t('devise.other.characters_minimum')%>)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :password_confirmation, t('devise.other.confirm_new_password') %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit t('devise.buttons.change_password'), class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
