<div class="card devise-form">
  <div class="card-header">
    <h2><%=t('devise.titles.forgot_password') %></h2>
  </div>

  <div class="card-body">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div class="form-group">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
	  </div>

	  <div class="actions">
	    <%= f.submit t('devise.buttons.reset_password'), class:"btn btn-primary" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
  </div>
</div>