<div class="card devise-form">
  <div class="card-header">
    <h2><%= t('devise.titles.login') %></h2>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label t('devise.other.email') %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="form-group">
        <%= f.label t('devise.other.password') %><br />
        <%= f.password_field :password, autocomplete: "off", class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label t('devise.other.remember_me') %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit t('devise.buttons.login'), class:"btn btn-primary" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>  
  </div>
</div>
