<%= form_for photo, html: { multipart: true } do |f| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t('photos.other.image') %>
    <%= f.file_field :image, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label t('photos.other.description') %>
    <%= f.text_field :description, class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
