<% @photos.each do |photo| %>
  <div class="card photo-form mb-3">
    <div class="card-body">
      <div class="img-container">
        <%= link_to photo, class: 'photo-link' do %>
          <%= image_tag photo.image.url(:medium), class: 'img' %>
        <% end %>
      </div>
      <br>
      <strong><%= photo.description %></strong>
      <br>
      <%= link_to profile_path(photo.user_id) do %>
        <i class="ion-person"></i>
        <%= photo.user.name %>  
      <% end %>    
      <% if photo.user == current_user %>
        <span class="float-right">
          <%= link_to edit_photo_path(photo) do %><i class="ion-edit"></i> <%= t('photos.links.edit')%><% end %> |
          <%= link_to photo, method: :delete, data: { confirm: t('photos.other.are_you_sure') } do %><i class="ion-trash-b"></i> <%= t('photos.links.delete')%><% end %>
        </span>
      <% end %>  
    </div> 
  </div> 
<% end %>

<%= will_paginate @photos, class:"pagination justify-content-center" %>
