<div class="card photo-form">
  <div class="card-header">
    <h2><%= t('photos.titles.new') %></h2>
  </div>
  <div class="card-body">
	<%= render 'form', photo: @photo %>

	<%= link_to t('photos.links.back'), photos_path %>
  </div>
</div>
