<% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <%= link_to "Instaphoto", root_path, class:'navbar-brand text-logo' %>    
        <ul class="navbar-nav">
         <li class="nav-item">
            <%= link_to t('navigation.about'), pages_about_path, class:'nav-link' %>
          </li>          
          <li class="nav-item">
            <%= link_to t('navigation.upload'), new_photo_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('navigation.friends_photos'), profiles_friends_photos_path, class:'nav-link' %>
          </li>           
         </ul>
        <div class="btn-group ml-auto mt-2 mt-lg-0 navbar-nav">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name %>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to t('navigation.account'), edit_user_registration_path, class:'dropdown-item' %>
            <%= link_to t('navigation.my_photos'), profiles_my_photos_path, class:'dropdown-item' %>
            <%= link_to t('navigation.my_subscriptions'), profiles_subscribes_list_path, class:'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to t('navigation.logout'), destroy_user_session_path, method: :delete, class:'dropdown-item' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
<% else %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-trasparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <%= link_to "Instaphoto", root_path, class:'navbar-brand text-logo .landing-logo' %>    
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <%= link_to t('navigation.photos'), photos_path, class:'nav-link' %>
          </li>          
          <li class="nav-item">
            <%= link_to t('navigation.about'), pages_about_path, class:'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to t('navigation.login'), new_user_session_path, class:'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>      