<!DOCTYPE html>
<html>
  <head>
    <title>Instaphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if user_signed_in? %>
		  <div class="container-fluid container-login">  		
  	<% else %>
  		<div class="container-fluid container-background container-login">
  	<% end %>
  	 		<%= render "layouts/navigation"%>  		
    		<div class="container">
    	        <p class="notice"><%= notice %></p>
    	        <p class="alert"><%= alert %></p>				
    			<%= yield %>
    		</div>
      </div>
  </body>
</html>
